<ion-header>
  <ion-toolbar color="tertiary">
      <ion-title>
          Happy Birthday
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="backgrnd">
      <div class="title">

          <p>Happy Birthday Zandile</p>
      </div>

      <div class="from">
          <p>From Zandile</p>
      </div>
      <ion-tabs>
        <ion-tab-bar slot="bottom" color="dark">
          <ion-tab-button tab="arrow">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </ion-tab-button>
    
          <ion-tab-button tab="radio">
            <ion-icon ios="ios-radio-button-off" md="md-radio-button-off"></ion-icon>
          </ion-tab-button>
      
          <ion-tab-button tab="square">
            <ion-icon ios="ios-square-outline" md="md-square-outline"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
  </div>
  
</ion-content>
